:root {
  --background-color: white;
  --text-color: #404040;
  --text-hover-color: red;

  background-color: var(--background-color);
  color: var(--text-color);
  min-width: 256px;
  text-rendering: optimizeLegibility;
}

* {
  font-size: 16px;
}

button {
  background-color: var(--text-color);
  border: 1px solid var(--background-color);
  border-radius: 4px;
  color: var(--background-color);
  cursor: pointer;
}

button:hover {
  color: var(--text-hover-color);
}

img {
  max-width: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--text-color);
    color: var(--background-color);
  }
}